.btn {
    cursor: pointer;
    display: block;
    &:hover {
    }
    &:focus {
    }
    &:active {
    }
    &-primary {
        width: 244px;
        height: 62px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #ffffff;
        font-size: 14px;
        letter-spacing: 0.155em;
        text-transform: uppercase;
        padding: 10px 25px 10px 30px;
        border-radius: 10px;
        position: relative;
        &:hover {
            .icon {
                position: absolute;
                animation: arrow-hover 1s linear infinite;
            }
        }
    }
    &-secondary {
        &:hover {
        }
    }
    &-contour {
        background: #000000;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        color: #fefefe;
        width: 288px;
        height: 53px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        text-transform: uppercase;
        padding: 18px 19px 18px 31px;
        font-weight: 500;
        letter-spacing: 0.155em;
        transition: 0.3s;
        position: relative;
        .icon {
            font-size: 15px;
        }
        &:hover {
            .icon {
                position: absolute;
                animation: arrow-hover 1s linear infinite;
            }
        }
    }
    &-filter {
        &:hover {
        }
    }
    &-question {
        background: linear-gradient(102.3deg, #001aff -4.62%, #84daff 178.22%);
        transition: 0.3s;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        min-width: 288px;
        min-height: 73px;
        padding: 27px 26px 27px 30px;
        border-radius: 14px;
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        line-height: 125.5%;
        letter-spacing: 0.155em;
        text-transform: uppercase;
        .icon {
            font-size: 15px;
        }
        &:hover {
            background: linear-gradient(102.3deg, #84daff -4.62%, #001aff 178.22%);
            .icon {
                animation: arrow-hover 1s linear infinite;
                position: absolute;
            }
        }
    }
}
input,
textarea {
    border: unset;
    background: transparent;
    &::placeholder {
    }
}
button {
    border: unset;
    padding: unset;
    cursor: pointer;
}
.arrow-hover:hover {
    animation: arrow-hover 1s linear infinite;
}
@keyframes arrow-hover {
    0% {
        right: 15px;
    }
    50% {
        right: 5px;
    }
    100% {
        right: 15px;
    }
}
