.btn {
    cursor: pointer;
    display: block;
    &:hover {
    }
    &:focus {
    }
    &:active {
    }
    &-primary {
        &:hover {
        }
    }
    &-secondary {
        &:hover {
        }
    }
    &-contour {
        background: #000000;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        color: #FEFEFE;
        &:hover {
        }
    }
    &-filter {
        &:hover {
        }
    }
}
input,
textarea {
    border: unset;
    background: transparent;
    &::placeholder {
    }
}
button {
    border: unset;
    padding: unset;
    cursor: pointer;
}
