@font-face {
    font-family: 'QTOptimum';
    src: url('../fonts/QTOptimum-Bold.eot');
    src: url('../fonts/QTOptimum-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/QTOptimum-Bold.woff2') format('woff2'),
        url('../fonts/QTOptimum-Bold.woff') format('woff'),
        url('../fonts/QTOptimum-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next Demi';
    src: url('../fonts/AvenirNext-DemiBold.eot');
    src: url('../fonts/AvenirNext-DemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvenirNext-DemiBold.woff2') format('woff2'),
        url('../fonts/AvenirNext-DemiBold.woff') format('woff'),
        url('../fonts/AvenirNext-DemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Scheherazade';
    src: url('../fonts/Scheherazade-Regular.eot');
    src: url('../fonts/Scheherazade-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Scheherazade-Regular.woff2') format('woff2'),
        url('../fonts/Scheherazade-Regular.woff') format('woff'),
        url('../fonts/Scheherazade-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'QTOptimum';
    src: url('../fonts/QTOptimum.eot');
    src: url('../fonts/QTOptimum.eot?#iefix') format('embedded-opentype'),
        url('../fonts/QTOptimum.woff2') format('woff2'),
        url('../fonts/QTOptimum.woff') format('woff'),
        url('../fonts/QTOptimum.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


