// calc(px + ( - ) * ((100vw - 320px) / (1440 - 320)))

.header {
    padding-top: 28px;
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__contacts {
        display: flex;
        margin-left: auto;
    }

    .social__link {
        width: 23px;
        height: 22px;
        background: #ffffff;
        color: #000;
        &:hover,
        &:active {
            background: #000;
            color: #fff;
        }
        &:not(:last-child) {
            margin-right: 16px;
        }
        .icon-twitter {
            font-size: 9.6px;
        }
        .icon-reddit {
            font-size: 14px;
        }
        .icon-telegram {
            font-size: 11px;
            transform: translateX(-1px);
        }
    }
}

.burger {
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0px 15px;
        display: none;
    }
    &__logo {
        width: 87px;
        height: 113px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    &__close {
        width: 28px;
        height: 28px;
        img {
            width: 100%;
            height: 100%;
        }
    }
}
.logo {
    flex: 0 0 auto;
    margin-left: 15px;
    margin-right: 59px;
    width: calc(87px + (158 - 87) * ((100vw - 320px) / (1440 - 320)));
    max-width: 158px;
    height: calc(113px + (205 - 113) * ((100vw - 320px) / (1440 - 320)));
    max-height: 205px;
    & img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.burger-btn {
    width: 36px;
    height: 15px;
    position: relative;
    background: transparent;
    margin-left: auto;
    display: none;
    & span {
        display: block;
        width: 36px;
        height: 3px;
        background: linear-gradient(94.41deg, #ffb627 -30.59%, #ffde68 153.71%);
        border-radius: 2.89926px;
        position: absolute;
        top: 0;
        left: 0;
    }
    &::before,
    &::after {
        content: "";
        position: absolute;
        left: 0;
        width: 28px;
        height: 3px;
        background: linear-gradient(94.41deg, #ffb627 -30.59%, #ffde68 153.71%);
        border-radius: 2.89926px;
    }
    &::before {
        top: 6px;
    }
    &::after {
        top: 12px;
    }
}

.menu {
    padding: 0;
    margin: 0;
    display: flex;
    &__item {
        font-size: 14px;
        margin-right: 45px;
        // margin: 0px 15px 0 15px;
    }

    &__link {
        transition: 0.2s;
        padding: 5px 0;
        // padding-bottom: 2px;
        &:hover {
            color: #7fb9fe;
            border-bottom: 1px solid #7fb9fe;
        }
    }
}
.burger-menu-bg {
    display: none;
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9995;
    background: #04091d;
}
.banner {
    margin-bottom: 87px;
    position: relative;
    &__content {
        display: flex;
        justify-content: space-between;
    }

    &__block-text {
        padding-top: 145px;
        max-width: 472px;
        z-index: 5;
    }

    &__title {
        font-size: 65px;
        line-height: 109%;
        margin-bottom: 18px;
        font-weight: 700;
    }

    &__descr {
        font-weight: 500;
        font-size: 18px;
        line-height: 132%;
        letter-spacing: 0.04em;
        opacity: 0.8;
        margin-bottom: 26px;
    }

    &__btn-get {
        background: linear-gradient(102.3deg, #0066ff -4.62%, #a7d5ff 178.22%);
        box-shadow: 0px 20px 40px rgba(128, 143, 150, 0.19);
        margin-bottom: 33px;
    }

    &__btn-buy {
        background: transparent;
        border: 2px solid rgba(51, 120, 255, 1);
    }
    &__bg-left {
        width: calc(55% + (100 - 55) * ((100vw - 320px) / (1440 - 320)));
        top: calc(81px + (44 - 81) * ((100vw - 320px) / (1440 - 320)));
        left: calc(-106px + (38 - -106) * ((100vw - 320px) / (1440 - 320)));
    }
    &__bg-right {
        height: calc(60% + (100 - 60) * ((100vw - 320px) / (1440 - 320)));
        top: calc(10px + (-20 - 10) * ((100vw - 320px) / (1440 - 320)));
        right: 0;
        & img {
            height: calc(60% + (100 - 60) * ((100vw - 320px) / (1440 - 320)));
        }
    }
}
.banner__bg-left,
.banner__bg-right {
    position: absolute;
    z-index: 1;
}
.slider-people {
    flex: 0 0 auto;
    margin-left: -80px;
    margin-right: -40px;
    height: 695px;
    width: 671px;
    padding-right: 97px;
    padding-top: 0;
    position: relative;
    &__img {
        width: 100%;
        height: 100%;
        & img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__bg {
        position: absolute;
        top: 0px;
        right: 0;
        width: 662px;
        height: 666px;
        z-index: -1;
        & img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .swiper-pagination-bullet {
        width: 4px;
        height: 4px;
        background: #f8d3eb;
        margin-bottom: 28px;
        transition: 0.3s;
        border-radius: 40px;
    }
    .swiper-pagination-bullet-active {
        height: 24px;
        transition: 0.3s;
    }
    .swiper-pagination {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 62px;
        top: 170px;
    }
}
.force-to-scroll {
    position: absolute;
    right: 47px;
    bottom: 163px;
    width: 26px;
    height: 42px;
    border: 2px solid #fff5e7;
    border-radius: 31px;
    cursor: pointer;

    &__wheel {
        width: 2px;
        height: 6px;
        border-radius: 20px;
        background: #fff5e7;
        position: absolute;
        top: 11px;
        left: calc(50% - 1px);
        animation-name: scroll-wheel;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
    }
    @keyframes scroll-wheel {
        from {
            opacity: 1;
        }
        to {
            transform: translateY(15px);
            opacity: 0;
        }
    }
}

.description {
    position: relative;
    .big-arrow {
        font-size: 26px;
    }
    &__content {
        margin-bottom: 151px;
        font-size: 16px;
        line-height: 30px;
        font-weight: 500;
    }

    &__section {
        display: flex;
        position: relative;
        &:not(:last-child) {
            margin-bottom: 30px;
        }
        &:last-child {
            .description__percentage {
                margin-top: 206px;
            }
        }
    }

    &__img-left {
        flex: 0 0 auto;
        width: 392px;
        height: 623px;
        margin-left: -85px;
        margin-right: 79px;
        & img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__bg-wave {
        position: absolute;
        left: 0;
        right: 0;
        top: -103px;
        & img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__bg-top {
        position: absolute;
        right: 0;
        top: 114px;
        width: 112px;
        height: 105px;
        z-index: 1;
        & img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__container {
        z-index: 5;
    }

    &__title-block {
        max-width: 460px;
        margin-top: 107px;
        margin-bottom: 24px;
    }

    &__title {
        font-weight: bold;
        font-size: 46px;
        line-height: 57px;
        letter-spacing: 0.323077px;
        margin-bottom: 8px;
    }

    &__text {
        font-weight: 500;
        letter-spacing: 0.5px;
    }

    &__percentage {
        display: flex;
        align-items: center;
        margin-bottom: 33px;
    }

    &__percentage-num {
        width: 94px;
        height: 85px;
        background: linear-gradient(100.82deg, rgba(196, 196, 196, 0.12) 3.18%, rgba(255, 255, 255, 0.18) 117.28%);
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.33);
        backdrop-filter: blur(500px);
        border-radius: 13px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        font-size: 36px;
        letter-spacing: 0.323px;
        position: relative;
        margin-right: 25px;
        .ellipse {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 94px;
            height: 85px;
            border-radius: 50%;
            background: #2c62b1;
            filter: blur(120px);
            z-index: 2;
        }
        .num {
            z-index: 5;
        }
    }
    &__percentage-text {
    }

    &__percentage-arrow {
        margin-right: 51px;
        transform: translateY(5px);
        & span {
            font-size: 17px;
        }
    }

    &__ps {
        padding: 33px 60px 23px 60px;
        width: 662px;
        height: 119px;
        background: linear-gradient(100.82deg, rgba(255, 255, 255, 0) 3.18%, rgba(255, 255, 255, 0.18) 117.28%);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        backdrop-filter: blur(500px);
        border-radius: 20px;
        text-align: center;
        &.mobile {
            display: none;
        }
    }
    &__ps.large {
        padding: 43px 52px 38px 31px;
        height: 164px;
        width: 563px;
        li {
            font-size: 18px;
            line-height: 22px;
        }
    }

    &__img-right {
        flex: 0 0 auto;
        width: 397px;
        height: 692px;
        // margin-right: -165px;
        margin-left: 117px;
        & img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__bg-bottom {
        position: absolute;
        bottom: 6px;
        right: calc(70% + 12px);
        width: 198px;
        height: 144px;
        & img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

.blank-card-section {
    margin-bottom: 275px;
    position: relative;
    &__bg-wave {
        position: absolute;
        left: 0;
        right: 0;
        top: -310px;
        pointer-events: none;
    }
    .container {
        max-width: 1370px;
    }
    &__content {
    }
    &__container {
        display: flex;
        flex-wrap: wrap;
    }
    &__wrap {
        box-sizing: border-box;
        // margin-right: 34px;
        width: 25%;
        display: flex;
        justify-content: center;
    }
}
.blank-card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 37px 32px 35px;
    background: rgba(0, 0, 0, 0.65);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.81);
    border-radius: 22px;
    border: 1px solid rgba(255, 255, 255, 1);
    letter-spacing: 0.04em;
    width: 309px;
    height: 491px;
    &__name {
        flex: 0 0 auto;
        font-size: 35px;
        line-height: 85.5%;
    }
    &__field {
        // flex: 1 1 auto;
        font-size: 30px;
        line-height: 116.5%;
        color: rgba(255, 255, 255, 0.4);
        margin-bottom: 50px;
        // height: 278px;
        overflow: hidden;
        overflow-wrap: break-word;
        word-wrap: break-word;
        hyphens: auto;
    }

    &__btn {
        flex: 0 0 auto;
        background: linear-gradient(94.01deg, #55adff 0%, #001fc0 107.4%);
        border-radius: 9px;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 148px;
        // min-height: 36px;
        padding: 9px 20px;
        font-size: 20px;
        letter-spacing: 0.04em;
        color: #ffffff;
        overflow: visible;
        position: relative;
        transition: 0.3s;
        &:hover {
            background: linear-gradient(94.01deg, #001fc0 0%, #55adff 107.4%);
        }
        & span {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background: linear-gradient(94.01deg, #55adff 0%, #001fc0 107.4%);
            border-radius: 9px;
            filter: blur(100px);
            overflow: visible;
        }
    }
}

.buy-tokens {
    margin-bottom: 229px;
    position: relative;
    &__bg-money {
        position: absolute;
        top: 204px;
        right: 0;
        width: 188px;
        height: 162px;
    }

    &__content {
        font-weight: 500;
        font-size: 16px;
        line-height: 132%;
        letter-spacing: 0.04em;
    }

    &__wrapper {
        max-width: 470px;
        margin: 0 auto;
    }

    &__title-box {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__title {
        font-weight: bold;
        font-size: 54px;
        line-height: 132%;
        letter-spacing: 0.04em;
        margin-bottom: 14px;
        margin-right: 29px;
    }

    &__title-img {
        width: 71px;
        height: 53px;
        transform: translateY(-5px);
        & img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__input-form {
        margin-bottom: 33px;
    }

    &__input-box {
        &:not(:last-child) {
            margin-bottom: 38px;
        }
    }

    &__input-title {
        margin-bottom: 12px;
    }

    &__input {
        color: #ffffff;
        padding: 16px 25px;
        border-radius: 14px;
        // border: 3px solid;
        border: 3px solid rgba(176, 209, 255, 1);
        width: 100%;
        // border-image-source: linear-gradient(271.53deg, #0047fe -46.33%, #b0d1ff 29.38%, #68c9ff 105.08%);

        &::placeholder {
            color: rgba(255, 255, 255, 0.38);
        }
    }

    &__btns-block {
        display: flex;
        justify-content: space-between;
    }

    &__btn {
        font-weight: bold;
        height: 46px;
        box-shadow: 0px 0px 30px rgba(5, 77, 255, 0.71);
        border-radius: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        &.connect {
            border: 2px solid rgba(255, 255, 255, 0.29);
            // border: 2px solid;
            // border-image-source: linear-gradient(
            //     94.79deg,
            //     rgba(255, 255, 255, 0.74) 3.51%,
            //     rgba(255, 255, 255, 0.29) 113.95%
            // );
            width: 208px;
            background: linear-gradient(94.59deg, #0047ff 2.79%, #68c9ff 153.81%);
            transition: 0.3s;
            &:hover {
                background: linear-gradient(94.59deg, #68c9ff 2.79%, #0047ff 153.81%);
            }
        }
        &.confirm {
            border: 2px solid rgba(255, 255, 255, 0.74);
            // border: 2px solid;
            // border-image-source: linear-gradient(
            //     94.79deg,
            //     rgba(255, 255, 255, 0.74) 3.51%,
            //     rgba(255, 255, 255, 0.29) 113.95%
            // );
            width: 211px;
            background: linear-gradient(94.59deg, #6100ff 2.79%, #c9deff 153.81%);
            transition: 0.3s;
            &:hover {
                background: linear-gradient(94.59deg, #c9deff 2.79%, #6100ff 153.81%);
            }
        }
    }
}

.section__title {
    font-size: 54px;
    line-height: 71px;
    font-weight: 500;
}

.nft {
    margin-bottom: 141px;
    .container {
    }
    &__content {
    }
    &__title {
        margin-bottom: 10px;
    }
    &__description {
        font-size: 20px;
        line-height: 26px;
        font-weight: 500;
    }
    &__img {
        width: 1048px;
        height: 590px;
        img {
            width: 100%;
            height: 100%;
        }
    }
}

.anchor {
    padding-top: 130px;
    -webkit-background-clip: content-box;
    background-clip: content-box;
    margin-top: -130px;
    display: inline-block;
    position: relative;
    height: 1px;
    width: 1px;
}
.store {
    .container {
        clip-path: inset(-100vw -100vw -100vw 0);
    }
    .section__title {
        margin-bottom: 26px;
    }
    &__btn {
        // filter: drop-shadow(0px 20px 40px rgba(128, 143, 150, 0.19));
        border-radius: 14px;
        border: 2px solid #ffffff;
        margin-bottom: 37px;
        width: 160px;
        height: 44px;
        color: #fff;
        text-transform: uppercase;
        background: transparent;
        font-weight: 500;
        letter-spacing: 0.155em;
        font-size: 14px;
        transition: 0.3s;
        &:hover {
            background: #fff;
            color: #000f1d;
            border: 2px solid #000f1d;
        }
    }
    &__item {
        width: 408px;
        height: 362px;
        border-radius: 17px;
        overflow: hidden;
        margin-right: 63px;
    }
    &__link {
        display: block;
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .swiper-slide {
        width: unset;
    }
    .swiper-wrapper {
        margin-bottom: 33px;
    }
    .swiper-pagination {
        display: flex;
    }
    .swiper-pagination-bullet {
        width: 13px;
        height: 13px;
        border-radius: 90px;
        background: #fff;
        transition: 0.3s;
    }
    .swiper-pagination-bullet:not(:last-child) {
        margin-right: 15px;
    }
    .swiper-pagination-bullet-active {
        width: 38px;
        background: #ffd18b;
    }
    &__content {
        margin-bottom: 193px;
    }
}

.team {
    margin-bottom: 272px;
    .container {
        padding-right: unset;
        clip-path: inset(-100vw -100vw -100vw 0);
    }
    &__content {
    }
    &__mafia {
        color: #f3b562;
        font-weight: 500;
        font-size: 24px;
        line-height: 30px;
        text-transform: uppercase;
        margin-bottom: 8px;
    }
    &__title {
        font-size: 41px;
        font-weight: 500;
        text-transform: uppercase;
        line-height: 110%;
        margin-bottom: 24px;
    }
    &__card {
        width: 290px;
        margin-right: 53px;
    }
    &__img {
        // width: 321px;
        height: 400px;
        margin-bottom: 25px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    &__info {
        padding: 20px 0px 17px 21px;
        background: rgba(0, 0, 0, 0.39);
        border-radius: 8px;
    }
    &__name {
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 5px;
    }
    &__description {
        font-size: 10px;
        line-height: 17px;
        font-weight: 500;
    }
    &-slider {
        // width: 1284px;
    }
    .swiper-slide {
        width: unset;
    }
}

.question {
    padding-bottom: 306px;
    position: relative;
    overflow: hidden;
    &__man {
        position: absolute;
        right: 0;
        width: 391px;
        height: 884px;
        bottom: -336px;
        z-index: 5;
        pointer-events: none;
        & img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__title {
        font-size: 41px;
        line-height: 110%;
        font-weight: 500;
        max-width: 307px;
        padding-top: 22px;
        margin-bottom: 27px;
    }
    &__description {
        max-width: 412px;
        font-size: 16px;
        line-height: 132%;
        font-weight: 500;
        letter-spacing: 0.04em;
        margin-bottom: 31px;
    }
    &__text {
        margin-bottom: 20px;
    }
    &__box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 48px;
        grid-column-gap: 60px;
    }
    &__item {
        padding: 41px 33px 44px 32px;
        background: #ffeac0;
        box-shadow: 0px 0px 20px rgba(255, 234, 192, 0.51);
        border-radius: 8px;
        width: 288px;
        min-height: 173px;
        transition: 0.3s;
        &:hover {
            background: #ffffff;
            box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.34);
        }
    }
    &__item-title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 7px;
    }
    &__item-name {
        font-size: 24px;
        line-height: 116%;
        font-weight: 500;
        color: #333;
    }
    &__item-description {
        font-weight: 500;
        font-size: 13px;
        line-height: 132%;
        color: #4f4f4f;
        letter-spacing: 0.04em;
    }
    &__item-triangle {
        width: 30px;
        height: 30px;
        background: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 50%;
        cursor: pointer;
        .icon {
            color: #fff;
            font-size: 12px;
        }
    }
}

.footer {
    background: url(../images/footer__background.png) no-repeat;
    background-size: cover;
    padding: 42px 0px 60px 0px;
    position: relative;
    z-index: 10;
    &__content {
        display: flex;
        justify-content: space-between;
    }
    &__logo {
        margin-bottom: 15px;
        display: block;
        width: 245px;
        height: 97px;
    }
    &__description {
        max-width: 235px;
        margin-bottom: 15px;
        font-size: 14px;
        line-height: 18px;
        color: #4f4f4f;
    }
    &__description:first-child {
        margin-bottom: 20px;
    }
    &__social {
        display: flex;
    }
    .social__link:not(:first-child) {
        margin-left: 15px;
    }
    &__message {
        padding-top: 41px;
    }
    &__title {
        text-transform: uppercase;
        font-size: 20px;
        margin-bottom: 19px;
        color: #2c1c00;
        font-weight: 500;
    }
    &__input {
        height: 113px;
        width: 288px;
        padding: 11px 0px 0px 25px;
        background: rgba(255, 255, 255, 0.38);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        border-radius: 2px;
        margin-bottom: 20px;
    }
}

.social__link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #ece1cf;
    color: #333333;
    transition: 0.3s;
    &:hover,
    &:active {
        background: #333333;
        color: #ece1cf;
    }
    .icon-twitter {
        font-size: 10px;
    }
    .icon-reddit {
        font-size: 13px;
    }
    .icon-telegram {
        transform: translateX(-1px);
        font-size: 10px;
    }
}
