// MAX-WIDTH 1600PX breakpoints START
@media (max-width: 1600px) {
}
// MAX-WIDTH 1600PX breakpoints END

@media (max-width: 1440px) {
   .btn-question {
      min-width: calc(106px + (288 - 106) * ((100vw - 320px) / (1440 - 320)));
      min-height: calc(26px + (73 - 26) * ((100vw - 320px) / (1440 - 320)));
      padding: calc(9px + (27 - 9) * ((100vw - 320px) / (1440 - 320)))
         calc(11px + (27 - 11) * ((100vw - 320px) / (1440 - 320)))
         calc(9px + (27 - 9) * ((100vw - 320px) / (1440 - 320))) calc(9px + (30 - 9) * ((100vw - 320px) / (1440 - 320)));
      border-radius: calc(6px + (14 - 6) * ((100vw - 320px) / (1440 - 320)));
      font-size: calc(6px + (16 - 6) * ((100vw - 320px) / (1440 - 320)));
      .icon {
         font-size: calc(5px + (15 - 5) * ((100vw - 320px) / (1440 - 320)));
      }
   }
   .question {
      padding-bottom: calc(58px + (306 - 58) * ((100vw - 320px) / (1440 - 320)));
      &__item-name {
         font-size: calc(10px + (24 - 10) * ((100vw - 320px) / (1440 - 320)));
      }
      &__item-description {
         font-size: calc(6px + (13 - 6) * ((100vw - 320px) / (1440 - 320)));
      }
      &__item-triangle {
         width: calc(13px + (30 - 13) * ((100vw - 320px) / (1440 - 320)));
         height: calc(13px + (30 - 13) * ((100vw - 320px) / (1440 - 320)));
         .icon {
            font-size: calc(3px + (12 - 3) * ((100vw - 320px) / (1440 - 320)));
         }
      }
      &__item {
         padding: calc(22px + (41 - 22) * ((100vw - 320px) / (1440 - 320)))
            calc(16px + (33 - 16) * ((100vw - 320px) / (1440 - 320)))
            calc(12px + (20 - 12) * ((100vw - 320px) / (1440 - 320)))
            calc(12px + (32 - 12) * ((100vw - 320px) / (1440 - 320)));
         border-radius: calc(6px + (8 - 6) * ((100vw - 320px) / (1440 - 320)));
         width: calc(125px + (288 - 125) * ((100vw - 320px) / (1440 - 320)));
         min-height: calc(62px + (173 - 62) * ((100vw - 320px) / (1440 - 320)));
      }
      &__box {
         grid-row-gap: calc(17px + (48 - 17) * ((100vw - 320px) / (1440 - 320)));
         grid-column-gap: calc(26px + (60 - 26) * ((100vw - 320px) / (1440 - 320)));
      }
      &__man {
         right: calc(-7px + (0 - -7) * ((100vw - 320px) / (1440 - 320)));
         width: calc(96px + (391 - 96) * ((100vw - 320px) / (1440 - 320)));
         height: calc(207px + (884 - 207) * ((100vw - 320px) / (1440 - 320)));
         bottom: calc(-97px + (-336 - -97) * ((100vw - 320px) / (1440 - 320)));
      }
      &__title {
         font-size: calc(16px + (41 - 16) * ((100vw - 320px) / (1440 - 320)));
         padding-top: calc(0px + (22 - 0) * ((100vw - 320px) / (1440 - 320)));
         margin-bottom: calc(7px + (27 - 7) * ((100vw - 320px) / (1440 - 320)));
      }
      &__description {
         max-width: calc(146px + (412 - 146) * ((100vw - 320px) / (1440 - 320)));
         font-size: calc(6px + (16 - 6) * ((100vw - 320px) / (1440 - 320)));
         margin-bottom: calc(10px + (31 - 10) * ((100vw - 320px) / (1440 - 320)));
      }
   }
   .buy-tokens {
      position: relative;
      margin-bottom: calc(125px + (229 - 125) * ((100vw - 320px) / (1440 - 320)));
      &__bg-money {
         width: calc(73px + (188 - 73) * ((100vw - 320px) / (1440 - 320)));
         height: calc(63px + (162 - 63) * ((100vw - 320px) / (1440 - 320)));
         top: calc(240px + (204 - 240) * ((100vw - 320px) / (1440 - 320)));
         right: calc(-18px + (0 - -18) * ((100vw - 320px) / (1440 - 320)));
      }

      &__btn {
         height: calc(29px + (46 - 29) * ((100vw - 320px) / (1440 - 320)));
         border-radius: calc(7px + (14 - 7) * ((100vw - 320px) / (1440 - 320)));
         &.connect {
            width: calc(111px + (208 - 111) * ((100vw - 320px) / (1440 - 320)));
            border: 1px solid rgba(255, 255, 255, 0.74);
         }
         &.confirm {
            border: 1px solid rgba(255, 255, 255, 0.74);
            width: calc(121px + (211 - 121) * ((100vw - 320px) / (1440 - 320)));
         }
      }
      &__content {
         font-size: calc(8px + (16 - 8) * ((100vw - 320px) / (1440 - 320)));
      }

      &__wrapper {
         max-width: calc(245px + (470 - 245) * ((100vw - 320px) / (1440 - 320)));
      }

      &__title-box {
      }

      &__title {
         margin-right: calc(14px + (29 - 14) * ((100vw - 320px) / (1440 - 320)));
         margin-bottom: calc(11px + (14 - 11) * ((100vw - 320px) / (1440 - 320)));
         font-size: calc(24px + (54 - 24) * ((100vw - 320px) / (1440 - 320)));
      }
      &__title-img {
         width: calc(45px + (71 - 45) * ((100vw - 320px) / (1440 - 320)));
         height: calc(34px + (53 - 34) * ((100vw - 320px) / (1440 - 320)));
         margin-right: calc(-48px + (-84 - -48) * ((100vw - 320px) / (1440 - 320)));
      }
      &__input-title {
         margin-bottom: calc(4px + (12 - 4) * ((100vw - 320px) / (1440 - 320)));
      }
      &__input {
         padding: calc(10px + (16 - 10) * ((100vw - 320px) / (1440 - 320)))
            calc(14px + (25 - 14) * ((100vw - 320px) / (1440 - 320)));
         border-radius: calc(7px + (14 - 7) * ((100vw - 320px) / (1440 - 320)));
      }
      &__input-form {
         margin-bottom: calc(18px + (33 - 18) * ((100vw - 320px) / (1440 - 320)));
      }
      &__input-box {
         &:not(:last-child) {
            margin-bottom: calc(12px + (38 - 12) * ((100vw - 320px) / (1440 - 320)));
         }
      }
   }
   .blank-card-section {
      margin-bottom: calc(37px + (275 - 37) * ((100vw - 320px) / (1440 - 320)));
      &__bg-wave {
         top: calc(42px + (-310 - 42) * ((100vw - 320px) / (1440 - 320)));
      }
      &__wrap {
         // margin-right: calc(22px + (34 - 22) * ((100vw - 320px) / (1440 - 320)));
      }
   }
   .blank-card {
      padding: calc(20px + (37 - 20) * ((100vw - 320px) / (1440 - 320)))
         calc(11px + (32 - 11) * ((100vw - 320px) / (1440 - 320)))
         calc(13px + (35 - 13) * ((100vw - 320px) / (1440 - 320)));
      width: calc(155px + (309 - 155) * ((100vw - 320px) / (1440 - 320)));
      height: calc(213px + (491 - 213) * ((100vw - 320px) / (1440 - 320)));
      &__name {
         font-size: calc(20px + (35 - 20) * ((100vw - 320px) / (1440 - 320)));
      }

      &__field {
         font-size: calc(28px + (30 - 28) * ((100vw - 320px) / (1440 - 320)));
         line-height: calc(91% + (116 - 91) * ((100vw - 320px) / (1440 - 320)));
         margin-bottom: calc(0px + (50 - 0) * ((100vw - 320px) / (1440 - 320)));
      }

      &__btn {
         padding: calc(6px + (9 - 6) * ((100vw - 320px) / (1440 - 320)))
            calc(15px + (20 - 15) * ((100vw - 320px) / (1440 - 320)));
         min-width: calc(93px + (148 - 93) * ((100vw - 320px) / (1440 - 320)));
         // min-height: calc(23px + (36 - 23) * ((100vw - 320px) / (1440 - 320)));
         font-size: calc(12px + (20 - 12) * ((100vw - 320px) / (1440 - 320)));
         color: #ffffff;
      }
   }
   .description {
      .big-arrow  {
         font-size: calc(6px + (26 - 6) * ((100vw - 320px) / (1440 - 320)));
      }
      &__bg-wave {
         top: calc(67px + (-103 - 67) * ((100vw - 320px) / (1440 - 320)));
      }
      &__section {
         &:last-child {
            .description__percentage {
               margin-top: calc(36px + (206 - 36) * ((100vw - 320px) / (1440 - 320)));
            }
         }
      }
      &__bg-bottom {
         width: calc(64px + (198 - 64) * ((100vw - 320px) / (1440 - 320)));
         height: calc(53px + (144 - 53) * ((100vw - 320px) / (1440 - 320)));
      }
      &__img-right {
         width: calc(122px + (397 - 122) * ((100vw - 320px) / (1440 - 320)));
         height: calc(239px + (692 - 239) * ((100vw - 320px) / (1440 - 320)));
         // margin-right: calc(-15px + (-165 - -15) * ((100vw - 320px) / (1440 - 320)));
         margin-left: calc(-26px + (117 - -26) * ((100vw - 320px) / (1440 - 320)));
      }
      &__ps {
         width: calc(290px + (662 - 290) * ((100vw - 320px) / (1440 - 320)));
         height: calc(59px + (119 - 59) * ((100vw - 320px) / (1440 - 320)));
         padding: calc(17px + (33 - 17) * ((100vw - 320px) / (1440 - 320))) calc(17px + (60 - 17) * ((100vw - 320px) / (1440 - 320))) calc(17px + (23 - 17) * ((100vw - 320px) / (1440 - 320))) calc(17px + (60 - 17) * ((100vw - 320px) / (1440 - 320)));
      }
      &__ps.large { 
         padding: calc(11px + (43 - 11) * ((100vw - 320px) / (1440 - 320))) calc(17px + (52 - 17) * ((100vw - 320px) / (1440 - 320))) calc(8px + (38 - 8) * ((100vw - 320px) / (1440 - 320))) calc(6px + (31 - 6) * ((100vw - 320px) / (1440 - 320)));
         width: calc(182px + (563 - 182) * ((100vw - 320px) / (1440 - 320)));
         height: calc(74px + (164 - 74) * ((100vw - 320px) / (1440 - 320)));
         li {
            font-size: calc(8px + (18 - 8) * ((100vw - 320px) / (1440 - 320)));
            line-height: calc(11px + (22 - 11) * ((100vw - 320px) / (1440 - 320)));
         }
      }
      &__percentage-arrow {
         margin-right: calc(19px + (51 - 19) * ((100vw - 320px) / (1440 - 320)));
         transform: translateY(3px);
         & span {
            font-size: calc(6px + (17 - 6) * ((100vw - 320px) / (1440 - 320)));
         }
      }
      &__percentage-num {
         margin-right: calc(18px + (25 - 18) * ((100vw - 320px) / (1440 - 320)));
         font-size: calc(20px + (36 - 20) * ((100vw - 320px) / (1440 - 320)));
         width: calc(35px + (94 - 35) * ((100vw - 320px) / (1440 - 320)));
         height: calc(38px + (85 - 38) * ((100vw - 320px) / (1440 - 320)));
         .ellipse {
            width: calc(35px + (94 - 35) * ((100vw - 320px) / (1440 - 320)));
            height: calc(38px + (85 - 38) * ((100vw - 320px) / (1440 - 320)));
         }
      }
      &__title {
         font-size: calc(20px + (46 - 20) * ((100vw - 320px) / (1440 - 320)));
         line-height: calc(25px + (57 - 25) * ((100vw - 320px) / (1440 - 320)));
      }
      &__percentage {
         margin-bottom: calc(0px + (33 - 0) * ((100vw - 320px) / (1440 - 320)));
      }
      &__content {
         font-size: calc(8px + (16 - 8) * ((100vw - 320px) / (1440 - 320)));
         line-height: calc(15px + (30 - 15) * ((100vw - 320px) / (1440 - 320)));
         margin-bottom: calc(37px + (151 - 37) * ((100vw - 320px) / (1440 - 320)));
      }
      &__section {
         &:not(:last-child) {
            margin-bottom: calc(6px + (30 - 6) * ((100vw - 320px) / (1440 - 320)));
         }
      }
      &__img-left {
         width: calc(123px + (392 - 123) * ((100vw - 320px) / (1440 - 320)));
         height: calc(215px + (623 - 215) * ((100vw - 320px) / (1440 - 320)));
         margin-left: calc(-19px + (-85 - -19) * ((100vw - 320px) / (1440 - 320)));
         margin-right: calc(-11px + (79 - -11) * ((100vw - 320px) / (1440 - 320)));
      }
      &__title-block {
         margin-top: calc(38px + (107 - 38) * ((100vw - 320px) / (1440 - 320)));
         margin-bottom: calc(10px + (24 - 10) * ((100vw - 320px) / (1440 - 320)));
      }
      &__bg-top {
         right: 0;
         top: calc(18px + (114 - 18) * ((100vw - 320px) / (1440 - 320)));
         width: calc(50px + (112 - 50) * ((100vw - 320px) / (1440 - 320)));
         height: calc(47px + (105 - 47) * ((100vw - 320px) / (1440 - 320)));
      }
   }

   .header {
      padding-top: calc(7px + (28 - 7) * ((100vw - 320px) / (1440 - 320)));
   }
   .banner {
      margin-bottom: calc(38px + (87 - 38) * ((100vw - 320px) / (1440 - 320)));
      &__block-text {
         padding-top: calc(8px + (145 - 8) * ((100vw - 320px) / (1440 - 320)));
      }
      &__title {
         font-size: calc(35px + (65 - 35) * ((100vw - 320px) / (1440 - 320)));
         margin-bottom: calc(7px + (18 - 7) * ((100vw - 320px) / (1440 - 320)));
      }

      &__descr {
         font-size: calc(10px + (18 - 10) * ((100vw - 320px) / (1440 - 320)));

         margin-bottom: calc(22px + (26 - 22) * ((100vw - 320px) / (1440 - 320)));
      }
   }
   .slider-people {
      margin-left: calc(14px + (-80 - 14) * ((100vw - 320px) / (1440 - 320)));
      height: calc(322px + (695 - 322) * ((100vw - 320px) / (1440 - 320)));
      width: calc(312px + (671 - 312) * ((100vw - 320px) / (1440 - 320)));
      padding-right: calc(73px + (97 - 73) * ((100vw - 320px) / (1440 - 320)));
      padding-top: calc(31px + (0 - 31) * ((100vw - 320px) / (1440 - 320)));
      &__bg {
         width: calc(283px + (662 - 283) * ((100vw - 320px) / (1440 - 320)));
         height: calc(286px + (666 - 286) * ((100vw - 320px) / (1440 - 320)));
      }
   }
   .force-to-scroll {
      bottom: calc(50px + (163 - 50) * ((100vw - 320px) / (1440 - 320)));
   }
   .nft {
      margin-bottom: calc(8px + (141 - 8) * ((100vw - 320px) / (1440 - 320)));
      &__description {
         font-size: calc(8px + (20 - 8) * ((100vw - 320px) / (1440 - 320)));
         line-height: calc(11px + (26 - 11) * ((100vw - 320px) / (1440 - 320)));
      }
      &__img {
         width: calc(265px + (1048 - 265) * ((100vw - 320px) / (1440 - 320)));
         height: calc(155px + (590 - 155) * ((100vw - 320px) / (1440 - 320)));
      }
   }
   .section__title {
      font-size: calc(16px + (54 - 16) * ((100vw - 320px) / (1440 - 320)));
      line-height: calc(21px + (75 - 21) * ((100vw - 320px) / (1440 - 320)));
   }
   .store {
      .section__title {
         margin-bottom: calc(4px + (26 - 4) * ((100vw - 320px) / (1440 - 320)));
      }
      &__btn {
         margin-bottom: calc(17px + (37 - 17) * ((100vw - 320px) / (1440 - 320)));
      }
      &__item {
         margin-right: calc(25px + (63 - 25) * ((100vw - 320px) / (1440 - 320)));
         border-radius: calc(7px + (17 - 7) * ((100vw - 320px) / (1440 - 320)));
         width: calc(163px + (408 - 163) * ((100vw - 320px) / (1440 - 320)));
         height: calc(144px + (362 - 144) * ((100vw - 320px) / (1440 - 320)));
      }
      &__content {
         margin-bottom: calc(30px + (193 - 30) * ((100vw - 320px) / (1440 - 320)));
      }
   }

   .team {
      margin-bottom: calc(33px + (272 - 33) * ((100vw - 320px) / (1440 - 320)));
      &__mafia {
         font-size: calc(8px + (24 - 8) * ((100vw - 320px) / (1440 - 320)));
         margin-bottom: calc(0px + (8 - 0) * ((100vw - 320px) / (1440 - 320)));
         line-height: calc(10px + (30 - 10) * ((100vw - 320px) / (1440 - 320)));
      }
      &__title {
         font-size: calc(24px + (41 - 24) * ((100vw - 320px) / (1440 - 320)));
         margin-bottom: calc(15px + (24 - 15) * ((100vw - 320px) / (1440 - 320)));
         line-height: calc(26px + (45 - 26) * ((100vw - 320px) / (1440 - 320)));
      }
      &__name {
         font-size: calc(6px + (14 - 6) * ((100vw - 320px) / (1440 - 320)));
         line-height: calc(7px + (19 - 7) * ((100vw - 320px) / (1440 - 320)));
      }
      &__description {
         font-size: calc(4px + (10 - 4) * ((100vw - 320px) / (1440 - 320)));
         line-height: calc(5px + (17 - 5) * ((100vw - 320px) / (1440 - 320)));
      }
      &__info {
         padding: calc(6px + (20 - 6) * ((100vw - 320px) / (1440 - 320))) 0px
            calc(6px + (17 - 6) * ((100vw - 320px) / (1440 - 320)))
            calc(8px + (21 - 8) * ((100vw - 320px) / (1440 - 320)));
      }
      &__img {
         height: calc(148px + (400 - 148) * ((100vw - 320px) / (1440 - 320)));
         margin-bottom: calc(8px + (25 - 8) * ((100vw - 320px) / (1440 - 320)));
      }
      &__card {
         width: calc(107px + (290 - 107) * ((100vw - 320px) / (1440 - 320)));
         margin-right: calc(20px + (53 - 20) * ((100vw - 320px) / (1440 - 320)));
      }
   }
   .footer {
      padding: calc(13px + (42 - 13) * ((100vw - 320px) / (1440 - 320))) 0px
         calc(16px + (60 - 16) * ((100vw - 320px) / (1440 - 320))) 0px;
      &__logo {
         width: calc(114px + (245 - 114) * ((100vw - 320px) / (1440 - 320)));
         height: calc(40px + (97 - 40) * ((100vw - 320px) / (1440 - 320)));
         margin-bottom: calc(5px + (15 - 5) * ((100vw - 320px) / (1440 - 320)));
      }
      &__description {
         font-size: calc(4px + (14 - 4) * ((100vw - 320px) / (1440 - 320)));
         line-height: calc(5px + (18 - 5) * ((100vw - 320px) / (1440 - 320)));
         margin-bottom: calc(1px + (15 - 1) * ((100vw - 320px) / (1440 - 320)));
      }
      &__description.last {
         margin-bottom: calc(6px + (15 - 6) * ((100vw - 320px) / (1440 - 320)));
      }
      .social__link:not(:first-child) {
         margin-left: calc(4px + (15 - 4) * ((100vw - 320px) / (1440 - 320)));
      }
      &__title {
         font-size: calc(7px + (20 - 7) * ((100vw - 320px) / (1440 - 320)));
         line-height: 6px;
         margin-bottom: calc(3px + (19 - 3) * ((100vw - 320px) / (1440 - 320)));
      }
      &__input {
         width: calc(93px + (288 - 93) * ((100vw - 320px) / (1440 - 320)));
         height: calc(39px + (113 - 39) * ((100vw - 320px) / (1440 - 320)));
         font-size: calc(4px + (14 - 4) * ((100vw - 320px) / (1440 - 320)));
         padding: calc(5px + (11 - 5) * ((100vw - 320px) / (1440 - 320))) 0px 0px
            calc(7px + (25 - 7) * ((100vw - 320px) / (1440 - 320)));
         margin-bottom: calc(5px + (20 - 5) * ((100vw - 320px) / (1440 - 320)));
      }
      &__message {
         padding-top: calc(17px + (41 - 17) * ((100vw - 320px) / (1440 - 320)));
      }
      .btn-contour {
         width: calc(79px + (288 - 79) * ((100vw - 320px) / (1440 - 320)));
         height: calc(14px + (53 - 14) * ((100vw - 320px) / (1440 - 320)));
         padding: calc(5px + (18 - 5) * ((100vw - 320px) / (1440 - 320)))
            calc(8px + (19 - 8) * ((100vw - 320px) / (1440 - 320)))
            calc(5px + (18 - 5) * ((100vw - 320px) / (1440 - 320)))
            calc(9px + (31 - 9) * ((100vw - 320px) / (1440 - 320)));
         font-size: calc(4px + (14 - 4) * ((100vw - 320px) / (1440 - 320)));
         .icon {
            font-size: calc(3px + (15 - 3) * ((100vw - 320px) / (1440 - 320)));
         }
      }
   }
   .social__link {
      width: calc(13px + (25 - 13) * ((100vw - 320px) / (1440 - 320)));
      height: calc(13px + (25 - 13) * ((100vw - 320px) / (1440 - 320)));
      .icon-telegram {
         font-size: calc(5px + (10 - 5) * ((100vw - 320px) / (1440 - 320)));
      }
      .icon-twitter {
         font-size: calc(5px + (10 - 5) * ((100vw - 320px) / (1440 - 320)));
      }
      .icon-reddit {
         font-size: calc(7px + (13 - 7) * ((100vw - 320px) / (1440 - 320)));
      }
   }
}
// MAX-WIDTH 1399.98PX breakpoints START
@media (max-width: 1399.98px) {
   .question {
      &__content {
         justify-content: flex-start;
      }
      &__text {
         margin-right: 20px;
      }
   }
}
// MAX-WIDTH 1399.98PX breakpoints END

// MAX-WIDTH 1199.98PX breakpoints START
@media (max-width: 1199.98px) {
   .blank-card-section {
      &__container {
      }
      &__wrap {
         width: 50%;
         margin-bottom: 20px;
      }
   }
}
// MAX-WIDTH 1199.98PX breakpoints END

// MAX-WIDTH 991.98PX breakpoints START
@media (max-width: 991.98px) {
   .description__ps.large {
      padding: 20px 10px;
   }
   .force-to-scroll {
      display: none;
   }

   .menu {
      &__item {
         margin-right: 25px;
      }
   }
   .btn-primary {
      width: 169px;
      height: 43px;
      font-size: 10px;
      padding: 5px 15px;
      margin-bottom: 18px;
   }
   .store {
      .swiper-pagination {
         display: none;
      }
      .swiper-wrapper {
         margin-bottom: unset;
      }
      &__btn {
         width: 91px;
         height: 21px;
         font-size: 7px;
         border-radius: 5px;
         border: 1px solid #fff;
      }
   }
}
// MAX-WIDTH 991.98PX breakpoints END

// MAX-WIDTH 767.98PX breakpoints START
@media (max-width: 767.98px) {
   .anchor {
      padding-top: calc(95px + (130 - 95) * ((100vw - 320px) / (1440 - 320)));
      margin-top: calc(-95px + (-130 - -95) * ((100vw - 320px) / (1440 - 320)));
   }
   .blank-card {
      border-radius: 9px;
   }
   .description__text {
      max-width: 300px;
   }
   .banner {
      &__content {
         flex-direction: column;
      }
   }
   .slider-people {
      align-self: center;
      margin-top: -120px;
      transform: translateX(80px);
   }
   .main {
      padding-top: calc(89px + (126 - 89) * ((100vw - 320px) / (1440 - 320)));
   }
   .header {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 999;
      background: rgba(0, 25, 48, 1);
      padding: unset;
      &__contacts {
         display: none;
      }
   }
   .logo {
      margin: -12px 0;
   }
   .burger-menu {
      position: fixed;
      top: 0;
      left: 150%;
      bottom: 0;
      width: 100vw;
      min-height: 100vh;
      z-index: 9999;
      transition: 0.5s;
      &.open {
         left: 0;
      }
   }
   .menu {
      flex-direction: column;
      padding-top: 10px;
      &__item {
         font-size: 10px;
         margin-bottom: 8px;
      }
      &__link {
         display: block;
         padding: 6.33px 0 6.33px 16.33px;
         min-width: 100px;
         &:active {
            color: #BB4850;
         }
         &:hover {
            color: #BB4850;
         }
      }
   }
   .burger-btn {
      display: block;
   }
}
// MAX-WIDTH 767.98PX breakpoints END

// MAX-WIDTH 576.98PX breakpoints START
@media (max-width: 575.98px) {
   .team__title {
      text-transform: none;
   }
   .question {
      &__content {
         flex-direction: column;
         align-items: flex-start;
         padding-left: 12px;
      }
      &__item-title {
         margin-bottom: 0;
      }
   }
   .description {
      &__percentage {
         background: linear-gradient(100.82deg, rgba(196, 196, 196, 0.12) 3.18%, rgba(255, 255, 255, 0.18) 117.28%);
         box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.33);
         backdrop-filter: blur(500px);
         border-radius: 6px;
         // height: 46px;
         padding: 10px 7px 11px 14px;
         margin-bottom: 13px;
      }
      &__percentage-num {
         width: unset;
         height: unset;
         background: unset;
         box-shadow: unset;
         backdrop-filter: unset;
      }
      &__ps {
         display: none;
         border-radius: 5px;
         margin-bottom: 10px;
         &.mobile,
         &.large {
            display: block;
         }
         &.large {
            padding: 10px 15px;
            margin-right: 26px;
            text-align: left;
            & li {
               list-style: inside;
            }
         }
      }
   }
   .banner {
      &__block-text {
         max-width: 87%;
      }
   }
   .slider-people {
      align-self: center;
      margin-top: unset;
      transform: translateX(0);
      .swiper-pagination {
         display: none;
      }
   }
   .blank-card {
      width: 100%;
   }
   .blank-card-section {
      &__wrap {
         width: 100%;
      }
   }
   .section__title {
      font-weight: 700;
   }
   .footer {
      &__description {
         max-width: 85px;
      }
      &__content {
         align-items: center;
      }
   }
}
// MAX-WIDTH 576.98PX breakpoints END

@media (max-width: 420px) {
   .blank-card-section {
      &__container {
      }
      &__wrap {
         width: 100%;
         margin-bottom: 20px;
      }
   }
}
