// MAX-WIDTH 1600PX breakpoints START
@media (max-width: 1600px) {
}
// MAX-WIDTH 1600PX breakpoints END

@media (max-width: 1440px) {
   .description {
      &__ps {
         padding: calc(17px + (40 - 17) * ((100vw - 320px) / (1440 - 320)))
            calc(17px + (110 - 17) * ((100vw - 320px) / (1440 - 320)));
      }
      &__percentage-arrow {
         margin-right: calc(19px + (51 - 19) * ((100vw - 320px) / (1440 - 320)));
         transform: translateY(3px);
         & span {
            font-size: calc(6px + (39 - 6) * ((100vw - 320px) / (1440 - 320)));
         }
      }
      &__percentage-num {
         margin-right: calc(18px + (25 - 18) * ((100vw - 320px) / (1440 - 320)));
         font-size: calc(20px + (60 - 20) * ((100vw - 320px) / (1440 - 320)));
         width: calc(35px + (176 - 35) * ((100vw - 320px) / (1440 - 320)));
         height: calc(38px + (160 - 38) * ((100vw - 320px) / (1440 - 320)));
      }
      &__title {
         font-size: calc(20px + (48 - 20) * ((100vw - 320px) / (1440 - 320)));
      }
      &__percentage {
         margin-bottom: calc(0px + (40 - 0) * ((100vw - 320px) / (1440 - 320)));
      }
      &__content {
         font-size: calc(8px + (20 - 8) * ((100vw - 320px) / (1440 - 320)));
         margin-bottom: calc(37px + (215 - 37) * ((100vw - 320px) / (1440 - 320)));
      }
      &__section {
         &:not(:last-child) {
            margin-bottom: calc(6px + (30 - 6) * ((100vw - 320px) / (1440 - 320)));
         }
      }
      &__img-left {
         width: calc(123px + (620 - 123) * ((100vw - 320px) / (1440 - 320)));
         height: calc(215px + (1033 - 215) * ((100vw - 320px) / (1440 - 320)));
         margin-left: calc(-19px + (-195 - -19) * ((100vw - 320px) / (1440 - 320)));
         margin-right: calc(-11px + (-72 - -11) * ((100vw - 320px) / (1440 - 320)));
      }
      &__title-block {
         margin-top: calc(-38px + (149 - -38) * ((100vw - 320px) / (1440 - 320)));
         margin-bottom: calc(10px + (89 - 10) * ((100vw - 320px) / (1440 - 320)));
      }
      &__bg-top {
         right: 0;
         top: calc(18px + (114 - 18) * ((100vw - 320px) / (1440 - 320)));
         width: calc(50px + (137 - 50) * ((100vw - 320px) / (1440 - 320)));
         height: calc(47px + (129 - 47) * ((100vw - 320px) / (1440 - 320)));
      }
   }

   .header {
      padding-top: calc(7px + (28 - 7) * ((100vw - 320px) / (1440 - 320)));
   }
   .banner {
      margin-bottom: calc(38px + (113 - 38) * ((100vw - 320px) / (1440 - 320)));
      &__block-text {
         padding-top: calc(8px + (145 - 8) * ((100vw - 320px) / (1440 - 320)));
      }
      &__title {
         font-size: calc(35px + (68 - 35) * ((100vw - 320px) / (1440 - 320)));
         margin-bottom: calc(7px + (18 - 7) * ((100vw - 320px) / (1440 - 320)));
      }

      &__descr {
         font-size: calc(10px + (18 - 10) * ((100vw - 320px) / (1440 - 320)));

         margin-bottom: calc(22px + (26 - 22) * ((100vw - 320px) / (1440 - 320)));
      }
   }
   .slider-people {
      margin-left: calc(14px + (-80 - 14) * ((100vw - 320px) / (1440 - 320)));
      height: calc(322px + (763 - 322) * ((100vw - 320px) / (1440 - 320)));
      width: calc(312px + (737 - 312) * ((100vw - 320px) / (1440 - 320)));
      padding-right: calc(73px + (117 - 73) * ((100vw - 320px) / (1440 - 320)));
      padding-top: calc(31px + (0 - 31) * ((100vw - 320px) / (1440 - 320)));
      &__bg {
         width: calc(283px + (662 - 283) * ((100vw - 320px) / (1440 - 320)));
         height: calc(286px + (666 - 286) * ((100vw - 320px) / (1440 - 320)));
      }
   }
   .force-to-scroll {
      bottom: calc(50px + (163 - 50) * ((100vw - 320px) / (1440 - 320)));
   }
}
// MAX-WIDTH 1399.98PX breakpoints START
@media (max-width: 1399.98px) {
}
// MAX-WIDTH 1399.98PX breakpoints END

// MAX-WIDTH 1199.98PX breakpoints START
@media (max-width: 1199.98px) {
}
// MAX-WIDTH 1199.98PX breakpoints END

// MAX-WIDTH 991.98PX breakpoints START
@media (max-width: 991.98px) {
   .force-to-scroll {
      display: none;
   }

   .menu {
      &__item {
         margin-right: 25px;
      }
   }
   .btn-primary {
      width: 169px;
      height: 43px;
      font-size: 10px;
      padding: 5px 15px;
      margin-bottom: 18px;
   }
}
// MAX-WIDTH 991.98PX breakpoints END

// MAX-WIDTH 767.98PX breakpoints START
@media (max-width: 767.98px) {
   .banner {
      &__content {
         flex-direction: column;
      }
   }
   .slider-people {
      align-self: center;
      margin-top: -120px;
      transform: translateX(80px);
   }
   .header {
      &__contacts {
         display: none;
      }
   }
   .burger-menu {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100vw;
      min-height: 100vh;
      background: rgba(0, 0, 0, 0.65);
      z-index: 9999;
   }
   .menu {
      flex-direction: column;
      align-items: flex-end;
      padding-top: 87px;
      &__item {
         font-size: 10px;
         margin-right: unset;
         margin-bottom: 8px;
      }
      &__link {
         display: block;
         padding: 6.33px 0 6.33px 16.33px;
         min-width: 100px;
         border-radius: 3px 0 0 3px;
         background: rgba(0, 71, 255, 0.5);
         border-bottom: unset;
         &:active {
            background: #0047ff;
         }
         &:hover {
            color: inherit;
            border-bottom: unset;
         }
      }
   }
   .burger-btn {
      display: block;
   }
}
// MAX-WIDTH 767.98PX breakpoints END

// MAX-WIDTH 576.98PX breakpoints START
@media (max-width: 575.98px) {
   .banner {
      &__block-text {
         max-width: 87%;
      }
   }
   .slider-people {
      align-self: center;
      margin-top: unset;
      transform: translateX(0);
      .swiper-pagination {
         display: none;
      }
   }
}
// MAX-WIDTH 576.98PX breakpoints END
