.roadMap{
  position: relative;
  margin-bottom: 215px;
  #svg {
    overflow: visible;
    height: 100%;
    max-width: 100%;
    z-index: 3;
    position: relative;
    cursor: pointer;
  }
  path {
    fill: none;
  }
  .road-path {
    stroke-width: 2px;
  }
  .circlePoint:nth-child(-n+10), .circlePoint:nth-child(12), .circlePoint:last-child {
    display: none;
  }
  #pointText {
    transform: translate(60px, 0px);
  }
  .circlePointNew {
    cursor: pointer;
  }
  .circlePointHover {
    r: 8.5;
    stroke: #3BE5B8;
    fill: none;
  }
  &::before, &::after {
    content: "";
    position: absolute;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  &::before {
    top: 13%;
    left: -65px;
    width: 270px;
    height: 270px;
    background-image: url("../images/roadMap__bg-left.png");
    z-index: 0;
  }
  &::after {
    top: 10%;
    right: -50px;
    width: 230px;
    height: 230px;
    background-image: url("../images/roadMap__bg-right.png");
    z-index: 0;
  }
  &__description {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    max-width: 510px;
  }
  &__img {
    height: 570px;
  }
  .svg-wrap {
    position: absolute;
    left: 0;
    top: 225px;
    width: 100vw;
    svg {
      width: 100%;
    }
  }
  &-slide {
    justify-content: space-between;
    align-items: flex-end;
    display: none;
    &.active {
      display: flex;
    }
    &__descr {
      background: rgba(0, 0, 0, 0.16);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 33px;
      padding: 50px 45px 36px 35px;
      font-size: 16px;
      line-height: 21px;
      font-weight: 500;
      max-width: 655px;
    }
    &__img {
      max-width: 373px;
      .img-wrap {

      }
      .img-info {
        color: #5BFDD1;
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
      }
    }

  }
  .point-line {
    transform: translate(100px, 100px);
  }
  .point-date {
    font-family: 'QTOptimum';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.32;
    fill: #F2E2FF;
  }
}
/*@media (min-width: 1600px) {
  .roadMap__img {
    height: calc(330px + (900 - 330) * ((100vw - 1600px) / (3000 - 1600)));
  }
}*/
@media (min-width: 1440px) {
  .roadMap__img {
    height: calc(500px + (900 - 500) * ((100vw - 1440px) / (3000 - 1440)));
  }
}
@media (max-width: 1440px) {
  .roadMap {
    margin-bottom: calc(25px + (215 - 25) * ((100vw - 320px) / (1440 - 320)));
    &::before {
      top: calc(0px + (-10 + 0) * ((100vw - 320px) / (1440 - 320)));
      left: calc(-66px + (-75 + 66) * ((100vw - 320px) / (1440 - 320)));
      width: calc(100px + (170 - 100) * ((100vw - 320px) / (1440 - 320)));
      height: calc(100px + (170 - 100) * ((100vw - 320px) / (1440 - 320)));
    }
    &::after {
      top: calc(24px + (95 - 24) * ((100vw - 320px) / (1440 - 320)));
      right: calc(-87px + (-55 + 87) * ((100vw - 320px) / (1440 - 320)));
      width: calc(160px + (270 - 160) * ((100vw - 320px) / (1440 - 320)));
      height: calc(160px + (270 - 160) * ((100vw - 320px) / (1440 - 320)));
    }
    &__description {
      font-size: calc(8px + (18 - 8) * ((100vw - 320px) / (1440 - 320)));
      line-height: calc(11px + (24 - 11) * ((100vw - 320px) / (1440 - 320)));
      max-width: calc(210px + (510 - 210) * ((100vw - 320px) / (1440 - 320)));
    }
    .svg-wrap {
      top: calc(78px + (225 - 78) * ((100vw - 320px) / (1440 - 320)));
    }
    .road-path {
      stroke-width: calc(4px + (2 - 4) * ((100vw - 320px) / (1440 - 320)));
    }
    .circlePoint {
      r: calc(12px + (6 - 12) * ((100vw - 320px) / (1440 - 320)));
    }
    &__img {
      height: calc(166px + (415 - 166) * ((100vw - 320px) / (1440 - 320)));
    }
    .point-date {
      font-size: calc(20px + (18 - 20) * ((100vw - 320px) / (1440 - 320)));
    }
    &-slide {
      &__descr {
        border-radius: calc(6px + (33 - 6) * ((100vw - 320px) / (1440 - 320)));
        padding-top: calc(12px + (50 - 12) * ((100vw - 320px) / (1440 - 320)));
        padding-right: calc(10px + (45 - 10) * ((100vw - 320px) / (1440 - 320)));
        padding-bottom: calc(8px + (36 - 8) * ((100vw - 320px) / (1440 - 320)));
        padding-left: calc(10px + (35 - 10) * ((100vw - 320px) / (1440 - 320)));

        font-size: calc(6px + (16 - 6) * ((100vw - 320px) / (1440 - 320)));
        line-height: calc(9.24px + (21 - 9.24) * ((100vw - 320px) / (1440 - 320)));
        max-width: calc(200px + (655 - 200) * ((100vw - 320px) / (1440 - 320)));
      }
      &__img {
        max-width: calc(70px + (260 - 70) * ((100vw - 320px) / (1440 - 320)));
        .img-wrap {

        }
        .img-info {
          font-size: calc(6px + (24 - 6) * ((100vw - 320px) / (1440 - 320)));
          line-height: calc(8px + (32 - 8) * ((100vw - 320px) / (1440 - 320)));
        }
      }

    }
  }


}

@media (max-width: 767.98px) {
  .roadMap {
    &-slide {
      &__descr {
       text-align: center;
      }
    }
  }
}
@media (max-width: 575.98px) {
  .roadMap {
    &-slide {
      &__descr {
        text-align: center;
      }
      &__img {
        display: flex;
        flex-direction: column;
        .img-wrap {
          order: 1;
        }
        .img-info {
          order: 0;
        }
      }
    }
  }
}