$icomoon-font-family: "icon" !default;
$icomoon-font-path: "fonts" !default;

$icon-triangle-top: "\e900";
$icon-arrow-right: "\e901";
$icon-telegram: "\e903";
$icon-twitter: "\e904";
$icon-reddit: "\e905";
$icon-long-arrow-right: "\e902";

